name: CI-CD pipeline

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
        - name: Check out repo
          uses: actions/checkout@v3
        
        - name: set up Python
          uses: actions/setup-python@v4
          with:
            python-version: '3.10'
        
        - name: Install dependences
          run: | 
                python -m pip install --upgrade pip
                pip install -r requirments.txt

        - name: Train model
          run: python model_train.py
        
        - name: Run test
          run : echo "Model Train successful"
          
